.sc-ion-input-md-h {
  border-radius: 7px;
  border: solid;
  border-color: gray;
  height: 40px;
}


.ion-align-items-center{
  margin-top: 20px;
}

.txt_signUp_subject{
  font-weight: bolder;
  font-size: 15px;
}

#btn_signUp_submit{
  margin-left: 35%;
  margin-top: 5%;
}

.input_error{
  border-color: red;
}

.txt_error{
  font-size: 10px;
}

.txt_error_container{
  height: 21px;
}
