<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">

    <ion-grid>

      <ion-row id="form_id">
        <ion-col size="3" offset="0">
          <ion-label>ID</ion-label>
        </ion-col>
        <ion-col size="9" offset="0">
          <ion-input class = "id_pw_input" type="text" placeholder="아이디를 입력해주세요."></ion-input>
        </ion-col>
      </ion-row>


      <ion-row id="form_pw">
        <ion-col size="3" offset="0">
          <ion-label>Password</ion-label>
        </ion-col>
        <ion-col size="9" offset="0">
          <ion-input class = "id_pw_input" type="password" placeholder="비밀번호를 입력해주세요."></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <section id="section_loginbtn">
    <ion-button id="btn_login" expand="block">Login</ion-button>
  </section>

    <section id="section_signupbtn">
      <ion-button id="btn_signup" expand="block"  [routerLink]="['/sign-up']">SignUp</ion-button>
    </section>




  </div>

</ion-content>
